

.outside-table{
    width: 220px;
    height: 320px;
    border: 2px solid;
    border-collapse: collapse;
}
.outside-table th{
    font-size: 12px;
    height: 20px;
    width: 110px;
    font-weight: 800;
    text-align: center;
    border: 2px solid;
    border-collapse: collapse;
}
.outside-table td{
    border: 2px solid;
    font-size: 10px;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}
.outside-table .no-line {
    border-width: 0px 1px;
    font-family: 標楷體;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-weight: 800;
  }

  .cspp{
    font-size: 8px;
  }
  
  
  .bottom-list {
    width: 220px;
    height: 80px;
    margin-left: -2px;
  }
  
  .bsmi {
    position: absolute;
    margin-top: 6px;
    margin-left: 8px;
  }
  .sticker {
    position: absolute;
    font-size: 12px;
    margin-left: 45px;
    margin-top: 5px;
  }
  
  .ro-hs {
    position: absolute;
    font-size: 10px;
    margin-left: 45px;
    margin-top: 30px;
  }
  
  .case-no {
    position: absolute;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 40px;
  }
  
  .barcode {
    position: absolute;
    margin-top: 8px;
    left: 130px;
    width: 90px;
    height: 70px;
  }
