.outside_table{
    width: 220px;
    height: 320px;
    border: 2px solid;
    border-collapse: collapse;
}
.outside_table th{
    font-size: 12px;
    font-weight: 800;
    text-align: center;
    border: 2px solid;
    border-collapse: collapse;
}
.outside_table td{
    border: 2px solid;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}

