@media print {

  @page{
   size: 100mm 150mm;
   
}

@font-face {
  font-family: MingLiU;
  src: url("font/MingLiU.woff") format("woff");
  unicode-range: U+4E00-9FFF;
}
@font-face {
  font-family: arial;
  src: url("font/arial.woff") format("woff");
  unicode-range: U+0021-007E;
}

  .print{
    page-break-after: always;
    margin: center;
  }

  .print2{
    page-break-before: always;
    margin: center;
  }

}