#inside-table{
  margin-top: 11px;
  border: 2px solid;
  width: 200px;
  height: 300px;
  border-collapse: collapse;
  font-size: 12px;
}

#inside-table th{
  border: 2px solid;
  text-align:left;
  width: 80px;
}

#inside-table td{
  border: 2px solid;
  text-align:center;
}

#inside-table .no-line{
  border-width: 0px 2px;
  
  }

.bottom-list{
  position: absolute;
  border: 2px solid;
  width: 195.8px;
  height: 80px;
  top: 309px;
  left: 8px;
}

#energy-sticker{

}

#sticker-no{

}

#ro-hs{

}

#type-no{

}

#type-barcode{
  position: absolute;
  left: 92px;
  bottom: 5px;
}